* {
     margin: 0;
     padding: 0;
     font-family: "Public Sans", sans-serif;
}

header {
     display: flex;
     align-items: center;
     justify-content: space-around;
     background-color: white;
     padding: 20px 0;
     position: sticky;
     top: 0;
     z-index: 1;
}
.nav-desktop > svg {
     display: none;
}

header > .hamburger-icon {
     display: none;
}

.container-nav {
     display: none;
}

.container-nav > .nav-mobile {
     display: none;
}

.container-nav > h1 {
     display: none;
}

ul {
     list-style-type: none;
     display: flex;
     align-items: center;
}

.nav-desktop li {
     color: #74898e;
     font-weight: 500;
     margin-right: 20px;
     cursor: pointer;
}

.request-invite {
     border: none;
     background-image: linear-gradient(
          to right,
          hsl(136, 65%, 51%),
          hsl(192, 70%, 51%)
     );
     border-radius: 25px;
     padding: 10px 25px;
     font-weight: 500;
     color: white;
     cursor: pointer;
}

.sec-1 {
     display: flex;
     align-items: start;
     justify-content: space-between;
     background-color: hsl(0, 0%, 98%);
     padding-left: 50px;
     height: 700px;
}

.hero-info {
     display: flex;
     align-items: start;
     flex-direction: column;
     max-width: 100%;
}

.hero-info > h1 {
     font-weight: 300;
     width: 100%;
     max-width: 700px;
     padding-bottom: 20px;
     padding-top: 200px;
     color: hsl(233, 26%, 24%);
     font-size: 70px;
}

.hero-info > p {
     color: #74898e;
     font-weight: 500;
     padding-bottom: 40px;
     line-height: 1.5;
     max-width: 400px;
}

.hero-info > button {
     border: none;
     background-image: linear-gradient(
          to right,
          hsl(136, 65%, 51%),
          hsl(192, 70%, 51%)
     );
     border-radius: 25px;
     padding: 10px 25px;
     font-weight: 500;
     color: white;
     cursor: pointer;
}

.hero-img {
     background-image: url("/images/bg-intro-desktop.svg");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: top left;
     position: relative;
     top: -100px;
     right: 0;
}

.hero-img > img {
     max-width: 100%;
}

.feed-container {
     display: grid;
     align-items: center;
     background-color: hsl(220, 16%, 96%);
     position: relative;
     z-index: -1;
}

.feed-info {
     padding: 70px 70px;
}

.feed-info > p {
     color: #74898e;
     font-weight: 500;
     max-width: 500px;
     line-height: 1.5;
}

.feed-info > h3 {
     font-size: 30px;
     font-weight: 300;
}

.features-container {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     margin: 0 70px;
     margin-bottom: 40px;
}

.features-container div {
     display: grid;
     align-items: center;
     margin-right: 100px;
}

.features-container svg {
     padding-bottom: 25px;
}

.features-container h4 {
     padding-bottom: 15px;
}

.features-container p {
     line-height: 1.5;
     color: #74898e;
     width: 250px;
}

.container-articles {
     display: grid;
     align-items: center;
     padding: 80px 0;
     background-color: hsl(0, 0%, 98%);
     justify-content: center;
}

.container-articles > h2 {
     color: hsl(233, 26%, 24%);
     font-weight: 400;
     padding-bottom: 35px;
     font-size: 30px;
}

.cards {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.cards div {
     width: fit-content;
     background-color: white;
     margin-right: 30px;
     margin-top: 30px;
     border-radius: 0 0 10px 10px;
}

.cards img {
     width: 290px;
     height: 200px;
     border-radius: 10px 10px 0 0;
}

.cards h3 {
     width: 200px;
     font-weight: 400;
     padding-bottom: 10px;
     padding-left: 20px;
}

.cards h5 {
     padding-top: 30px;
     padding-bottom: 10px;
     color: #74898e;
     padding-left: 20px;
}
.cards p {
     width: 230px;
     color: #74898e;
     padding-left: 20px;
     padding-right: 40px;
     line-height: 1.5;
     padding-bottom: 30px;
}

footer {
     display: flex;
     align-items: center;
     background-color: hsl(233, 26%, 24%);
     padding: 40px 0;
     padding-left: 300px;
}

.logo-socialMedia {
     display: grid;
     align-items: center;
     padding-right: 70px;
}

.socialMedia {
     display: flex;
     align-items: center;
}
.logo-socialMedia .socialMedia {
     margin-right: 10px;
     margin-top: 40px;
}

.findMe {
     display: grid;
     align-items: center;
     padding-right: 150px;
     color: #fff;
}

.findMe > h3 {
     font-weight: 400;
     margin-top: 5px;
     color: hsl(233, 8%, 62%);
     cursor: pointer;
}

.jobs {
     display: grid;
     align-items: center;
     color: #fff;
     padding-right: 150px;
}

.jobs > h3 {
     font-weight: 400;
     margin-top: 5px;
     color: hsl(233, 8%, 62%);
     cursor: pointer;
}

.button-copyright {
     display: grid;
     align-items: center;
     margin-left: 300px;
}

.button-copyright > button {
     border: none;
     background-image: linear-gradient(
          to right,
          hsl(136, 65%, 51%),
          hsl(192, 70%, 51%)
     );
     border-radius: 25px;
     padding: 10px 25px;
     font-weight: 500;
     color: white;
     width: fit-content;
     margin-bottom: 20px;
     cursor: pointer;
}

.button-copyright > p {
     color: hsl(233, 8%, 62%);
}

.socialMedia svg {
     margin-right: 10px;
     cursor: pointer;
}

.attribution {
     margin-top: 20px;
     color: hsl(233, 8%, 62%);
}

.attribution a {
     color: hsl(233, 8%, 62%);
}

@media (min-width: 840px) and (max-width: 1510px) {
     .container-articles > h2 {
          text-align: center;
     }

     .cards {
          justify-content: center;
     }

     footer {
          display: grid;
          justify-content: center;
     }

     .logo-socialMedia {
          padding-right: 0;
          justify-content: center;
     }

     .logo-socialMedia > svg {
          display: block;
          margin: auto;
     }
     .logo-socialMedia > .socialMedia {
          margin-right: 0;
          margin: 0 auto;
     }

     .findMe {
          padding-right: 0;
          justify-content: center;
     }

     .jobs {
          padding-right: 0;
          justify-content: center;
     }

     .button-copyright {
          margin-left: 0;
          margin-top: 30px;
     }

     .button-copyright > button {
          margin: 0 auto;
          margin-bottom: 20px;
     }
}

@media (min-width: 320px) and (max-width: 839px) {
     header {
          justify-content: space-between;
          padding: 30px;
          position: relative;
     }

     .nav-desktop {
          display: none;
     }

     header > .hamburger-icon {
          display: block;
     }

     .container-nav {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: -800px;
          background-color: rgba(0, 0, 0, 0.5);
          text-align: right;
          display: none;
     }

     .container-nav > .nav-mobile {
          background-color: white;
          max-width: 100%;
          margin: 0 20px;
          padding-bottom: 20px;
          position: relative;
          top: 50px;
          border-radius: 10px;
          display: block;
     }
     .container-nav > h1 {
          color: white;
          display: inline-flex;
          position: relative;
          top: 30px;
          right: 20px;
     }

     ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     .nav-mobile li {
          color: #74898e;
          font-weight: 500;
          margin-top: 22px;
          font-size: 18px;
          cursor: pointer;
     }

     header > .hamburger {
          cursor: pointer;
          display: block;
     }

     header > button {
          display: none;
     }

     .sec-1 {
          display: flex;
          flex-direction: column-reverse;
     }

     .hero-info > h1 {
          font-size: 50px;
          text-align: center;
     }

     .hero-info > p {
          margin: 0 auto;
          padding: 0;
          margin-bottom: 40px;
     }

     .hero-info > button {
          margin: 0 auto;
          margin-bottom: 20px;
     }

     .hero-img {
          background-image: url("/images/bg-intro-mobile.svg");
          top: 200px;
     }

     .feed-info > h3 {
          text-align: center;
          margin: 0;
          margin-bottom: 20px;
     }

     .feed-info > p {
          text-align: center;
     }

     .features-container {
          flex-wrap: nowrap;
          display: flex;
          flex-direction: column;
          padding: 0;
     }
     .features-container div {
          margin: 0 auto;
          margin: 20px 0;
     }

     .features-container div svg {
          margin: 0 auto;
     }

     .features-container div h4 {
          text-align: center;
     }

     .features-container div p {
          text-align: center;
     }

     .container-articles > h2 {
          text-align: center;
     }

     .cards {
          justify-content: center;
     }

     footer {
          flex-direction: column;
          padding: 40px 0;
     }

     .logo-socialMedia {
          padding: 0;
     }

     .logo-socialMedia .socialMedia {
          margin: 20px auto;
     }

     .findMe {
          margin: 0auto;
          padding: 0;
     }

     .jobs {
          margin: 0 auto;
          padding: 0;
     }

     .button-copyright {
          margin: 0;
     }

     .button-copyright > button {
          margin: 20px auto;
     }

     .button-copy-right {
          margin: 0;
     }
}
